#---------------------------------------#
#               zshmarks                #
#---------------------------------------#
alias g="jump"
alias s="bookmark"
alias d="deletemark"
alias p="showmarks"

#---------------------------------------#
#                Git                    #
#---------------------------------------#
alias ga='git add'
alias gaa='git add --all'
alias gb='git branch'
alias gc='git commit'
alias gca='git commit -a'
alias gcam='git commit -am'
alias gcb='git checkout -b'
alias gcf='git config --list'
alias gco='git checkout'
alias gcount='git shortlog -sn'
alias gd='git diff --color'
alias gf='git fetch'
alias gl='git pull'
alias glg='git log --stat --color'
alias glgg='git log --graph --color'
alias glgga='git log --graph --decorate --all'
alias glgm='git log --graph --max-count=10'
alias glgp='git log --stat --color -p'
alias glo='git log --oneline --decorate --color'
alias glog='git log --oneline --decorate --color --graph'
alias glogme="glog --author='Amit Dhamu'"
alias glol='git log --graph --pretty=format:'\''%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'\'' --abbrev-commit'
alias glola='git log --graph --pretty=format:'\''%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'\'' --abbrev-commit --all'
alias gm='git merge'
alias gp='git push'
alias gss='git status -s'
alias gst='git status'

#---------------------------------------#
#               Misc                    #
#---------------------------------------#
alias zsrc='source ~/.zshrc'
alias zedit='vim ~/.zshrc'
alias localip="ipconfig getifaddr en0"
alias genpw="openssl rand -base64 32"
alias subl="/Applications/Sublime\ Text.app/Contents/SharedSupport/bin/subl"
alias f='open -a Finder ./'
alias tree='tree -C'
alias l='ls -la'
