#---------------------------------------#
#               Homebrew                #
#---------------------------------------#
if [[ "$OSTYPE" == "darwin"* ]]; then
    export PATH="$(brew --prefix)/bin:$PATH"
fi

#---------------------------------------#
#               Misc	                #
#---------------------------------------#
export HISTTIMEFORMAT="%d/%m/%y %T"
export EDITOR=vim
