#---------------------------------------#
#          ANSI Escape Codes            #
#---------------------------------------#
# Black        0;30     Dark Gray     1;30
# Red          0;31     Light Red     1;31
# Green        0;32     Light Green   1;32
# Brown/Orange 0;33     Yellow        1;33
# Blue         0;34     Light Blue    1;34
# Purple       0;35     Light Purple  1;35
# Cyan         0;36     Light Cyan    1;36
# Light Gray   0;37     White         1;37

RED='\033[0;31m'
GREEN='\033[0;32m'
DEFAULT='\033[0m'

#---------------------------------------#
#                Git                    #
#---------------------------------------#
function git_delete_branch() {
  git branch -D $1
  git push origin :$1
}

function gitstep() {
  if [ -z "$1" ]; then
    echo "${RED}You need to provide a branch name"
    return
  fi

  BRANCH=$1

  echo "${GREEN}Stepping through branch: ${BRANCH}"

  for commit in $(git rev-list ${BRANCH} --reverse); do
    git checkout $commit
    read
  done
}

function gdm() {
  if [ -z "$1" ]; then
    echo "${RED}You need to provide a commit hash"
    return
  fi

  git log --pretty=oneline --abbrev-commit $1..HEAD
}

function csv() {
  sed 's/,/ ,/g' "$@" | column -ts, | less -FSXK
}

#---------------------------------------#
#               Docker                  #
#---------------------------------------#
function dock_stop() {
  docker compose stop && docker compose rm -f
}

function dock_start() {
  docker compose build && docker compose up -d
}

function dock_fresh() {
  dock_stop && dock_start
}

function dock_update() {
  dock_stop && docker images | grep -v REPOSITORY | awk '{print $1}' | xargs -L1 docker pull && dock_start
}

function dock_logs() {
  docker logs $1 -f
}

function dock_ssh() {
  docker exec -it $1 /bin/bash
}

function dock_vol_prune() {
  docker volume prune
}

function dock_sys_prune() {
  docker system prune
}

function dock_delete_all_containers() {
  docker rm $(docker ps -a -q)
}

function dock_delete_all_images() {
  docker rmi $(docker images -q) --force
}

function dock_restart() {
  docker compose restart $1
}

function dock_ip() {
  docker inspect $1 | grep '"IPAddress"'
}

function speedtest() {
  curl -s https://raw.githubusercontent.com/sivel/speedtest-cli/master/speedtest.py | python -
}

#---------------------------------------#
#           Coloured Man Pages          #
#---------------------------------------#
function man() {
  env \
    LESS_TERMCAP_mb=$(printf "\e[1;31m") \
    LESS_TERMCAP_md=$(printf "\e[1;31m") \
    LESS_TERMCAP_me=$(printf "\e[0m") \
    LESS_TERMCAP_se=$(printf "\e[0m") \
    LESS_TERMCAP_so=$(printf "\e[1;44;33m") \
    LESS_TERMCAP_ue=$(printf "\e[0m") \
    LESS_TERMCAP_us=$(printf "\e[1;32m") \
    man "$@"
}
