#---------------------------------------#
#          ANSI Escape Codes            #
#---------------------------------------#
# Black        0;30     Dark Gray     1;30
# Red          0;31     Light Red     1;31
# Green        0;32     Light Green   1;32
# Brown/Orange 0;33     Yellow        1;33
# Blue         0;34     Light Blue    1;34
# Purple       0;35     Light Purple  1;35
# Cyan         0;36     Light Cyan    1;36
# Light Gray   0;37     White         1;37

#---------------------------------------#
#               Proxy                   #
#---------------------------------------#
RED='\033[0;31m';
GREEN='\033[0;32m';
DEFAULT='\033[0m';

function proxy() {
    PROXY=proxy-dev.cpwos.com:3128;

    if [[ "${http_proxy:-NOTSET}" != "NOTSET" ]]; then
        unset http_proxy;
        unset https_proxy;
        unset HTTP_PROXY;
        unset HTTPS_PROXY;
        npm config set http-proxy null;
        npm config set https-proxy null;
        git config --global --unset http.proxy;
        git config --global --unset https.proxy;
        echo "${RED}PROXY • $PROXY • DISABLED";
    else
        export http_proxy=http://$PROXY;
        export https_proxy=http://$PROXY;
        export HTTP_PROXY="$PROXY";
        export HTTPS_PROXY="$PROXY";
        npm config set http-proxy "http://$PROXY";
        npm config set https-proxy "http://$PROXY";
        git config --global http.proxy http://$PROXY;
        git config --global https.proxy http://$PROXY;
        echo "${GREEN}PROXY • $PROXY • ENABLED";
    fi;
}

function fixHipChat() {
    defaults delete com.hipchat.HipChat;

    rm ~/Library/Preferences/com.hipchat.HipChat.plist;
    rm -rf ~/Library/HipChat/;
    rm -rf ~/Library/Application\ Support/hipchat/;
    rm -rf ~/Library/Application\ Support/com.hipchat.HipChat;
    rm -rf ~/Library/Caches/HipChat;
    rm -rf ~/Library/Caches/com.hipchat.HipChat/;
    rm -rf ~/Library/Saved\ Application\ State/com.hipchat.HipChat.savedState;
    rm -rf ~/Library/WebKit/com.hipchat.HipChat;

    echo "${GREEN}HipChat Fixed Yo! Make sure you restart";
}

#---------------------------------------#
#           Coloured Man Pages          #
#---------------------------------------#
man() {
    env \
        LESS_TERMCAP_mb=$(printf "\e[1;31m") \
        LESS_TERMCAP_md=$(printf "\e[1;31m") \
        LESS_TERMCAP_me=$(printf "\e[0m") \
        LESS_TERMCAP_se=$(printf "\e[0m") \
        LESS_TERMCAP_so=$(printf "\e[1;44;33m") \
        LESS_TERMCAP_ue=$(printf "\e[0m") \
        LESS_TERMCAP_us=$(printf "\e[1;32m") \
            man "$@"
}